<div class="col-xs-3">
</div>

<div class="col-xs-6">
	<div class="row">
		<div class="user_edit_complete_box">
    		<h2>ユーザ情報を更新しました</h2>
		</div>
	</div>
	<div class="row" style="text-align: center;">
		<%= link_to 'マイページへ', user_path(current_user), class: "back_btn"  %>
	</div>
</div>

<div class="col-xs-3">
</div>
