<div class="col-xs-3">
</div>

<div class="col-xs-6">
	<div class="row">
		<div class="withdraw_complete_box">
    		<h2>退会が完了しました</h2>
		</div>
	</div>
	<div class="row" style="text-align: center;">
		<%= link_to 'トップへ', root_path, class: "back_btn"  %>
	</div>
</div>

<div class="col-xs-3">
</div>

