<div class="col-xs-3">
</div>

<div class="col-xs-6">
	<div class="row">
		<div class="review_complete_box" style="text-align: center;">
    		<h2>レビューを投稿しました</h2>
		</div>
	</div>
	<div class="row" style="text-align: center;">
		<%= link_to '戻る', spa_path(id: params[:id]), class: "back_btn"  %>
	</div>
</div>

<div class="col-xs-3">
</div>
